.App {
  text-align: center;
  background-color: #3f2b2b;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* Home Page*/
.home-main-text {
  background-color: #282c34;
  display: inline-block;
  align-items: normal;
  min-height: 75vh;
  min-width: 95vw;
}

.text-box {
  padding: 20px;
  max-width: 800px;
  font-size: 40px;
  text-align: left;
  font-weight: 300;
}
/*top bar*/
.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items:end;
  justify-content: left;
  height: 25vh;
  width: 95vw;
  padding-left: 1vw;
}

.first-name {
  font-size: 60px;
  font-weight: 400;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #222;
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  margin-right: 15px;
  color: #fff;
}

.last-name {
  font-size: 65px;
  font-weight: 300;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #222;
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  color: #222;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.last-name-info{
  font-family: 'Bilbo Swash Caps', cursive;
  font-size:100px;
  height: 28vh;
  padding-top: 70px;
  vertical-align:text-bottom;
  text-indent: 388px;
}
/*nav bar*/

.main-nav {
  width: 80px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
}

/* Projects section*/

.main-projects {
  background-color: #6894a8;
  display: flex;
  flex-wrap: nowrap;
  align-items: normal;
  min-width: 80vw;
}
.profile-pic{
  height: 40vmin;
  pointer-events: none;
}