@media (min-width: 768px) {
  .home {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

    scrollbar-width: none;
    text-overflow: clip;
  }

  .slides {
    width: calc(sum of all slide widths);
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
}
